.root {
    background-color: darkcyan;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.loadinggif {
    width: 16vw;
    margin-top: 15vh;
}